/* Light */

[class='light'] {
  background: theme('colors.red.50');
}

[class='light'] h1 {
  color: theme('colors.red.900')
}

/* Light Short Break */

[class='lightshortbreak'] {
  background: theme('colors.green.50');
}
[class='lightshortbreak'] h1 {
  color: theme('colors.green.900');
}

/* Light Long Break */

[class='lightlongbreak'] {
  background: theme('colors.blue.50');
}

[class='lightlongbreak'] h1 {
  color: theme('colors.blue.900');
}

/* Dark */

[class='dark'] {
  background: #0D0404;
}

[class='dark'] h1 {
  color: #FFF2F2;
}

[class='dark'] .ant-modal .ant-modal-content {
  background-color: #0D0404;
  color: #FFF2F2;
}

[class='dark'] .ant-modal label {
  color: #FFF2F2;
}

/* Dark Short Break */

[class='darkshortbreak'] {
  background: #040D06;
}

[class='darkshortbreak'] h1 {
  color: #F2FFF5;
}

[class='darkshortbreak'] .ant-modal .ant-modal-content {
  background-color: #040D06;
  color: #F2FFF5;
}

[class='darkshortbreak'] .ant-modal label {
  color: #F2FFF5;
}

/* Dark Long Break */

[class='darklongbreak'] {
  background: #04090D;
}

[class='darklongbreak'] h1 {
  color: #F2F9FF;
}

[class='darklongbreak'] h4 {
color: #FFF2F2;
}

[class='darklongbreak'] .ant-modal .ant-modal-content {
  background-color: #04090D;
  color: #F2F9FF;
}

[class='darklongbreak'] .ant-modal label {
  color: #F2F9FF;
}




[class='ant-modal-footer'] button {
  color: #000;
}

.ant-modal .ant-modal-content {
  border-radius: 24px;
}



[class='dark'] .ant-collapse-header .ant-collapse-header-text {
  color: #fff;
}