[class='light'] {
  background: theme('colors.red.50');
}

[class='light'] h1 {
  color: theme('colors.red.900')
}

[class='lightshortbreak'] {
  background: theme('colors.green.50');
}
[class='lightshortbreak'] h1 {
  color: theme('colors.green.900');
}

[class='lightlongbreak'] {
  background: theme('colors.blue.50');
}

[class='lightlongbreak'] h1 {
  color: theme('colors.blue.900');
}

[class='dark'] {
  background: #0D0404;
}

[class='dark'] h1 {
  color: #FFF2F2;
}

[class='darkshortbreak'] {
  background: #040D06;
}

[class='darkshortbreak'] h1 {
  color: #F2FFF5;
}

[class='darklongbreak'] {
  background: #04090D;
}

[class='darklongbreak'] h1 {
  color: #F2F9FF;
}

[class='ant-modal-footer'] button {
  color: #000;
}
